<p class="my-8 text-center">
  <%= link_to 'â† Diary Entries', diary_entries_path, class: "btn btn-outline-primary-dark" %>
</p>

<section class="mt-8 content-snug">
  <article class="p-4 sm:p-12 sheet">
    <h1 class="mb-8 text-center">Editing Body Measurement Key</h1>

    <%= render "form", body_measurement_key: @body_measurement_key %>
  </article>
</section>
