<h1>Editing body measurement key</h1>

<%= render "form", body_measurement_key: @body_measurement_key %>

<br>

<div>
  <%= link_to "Show this body measurement key", @body_measurement_key %> |
  <%= link_to "Back to body measurement keys", body_measurement_keys_path %>
</div>
