<h1>Editing Diary Entry</h1>

<%= render "form", diary_entry: @diary_entry %>

<br>

<div>
  <%= link_to "Show this Diary Entry", @diary_entry %> |
  <%= link_to "Back to Diary Entries", diary_entries_path %>
</div>
