<p class="my-8 text-center">
  <%= link_to 'â† Home', root_path, class: "btn btn-outline-primary-dark" %>
</p>

<section class="mt-8 content-snug">
  <article class="p-4 sm:p-12 sheet">
    <h1 class="mb-8 text-center">Diary Entries</h1>
    <%= link_to "New Diary Entry", new_diary_entry_path, class: "btn btn-secondary text-center block" %>

    <div class="my-16">
      <canvas id="myChart" data-controller="chart"></canvas>
    </div>

    <div id="diary_entries" class="space-y-8">
      <%= render partial: 'diary_entry', collection: @diary_entries %>
    </div>
  </article>
</section>
